.idea/
.idea_modules/

.vscode/

__pycache__/
*.py[cod]
*$py.class

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

profile_default/
ipython_config.py

__pypackages__/

# Environments
.env
venv/
docker-compose-linux-x86_64.*